---
import PageLayout from '@/layouts/PageLayout.astro';
---
<PageLayout title="Opportunities">
  <div class="prose-bfs">
    <h2>Volunteers</h2>
    <p>
      We are always keen to provide opportunities for volunteers to gain experience of working with children with autism. Volunteering at Bright Futures School is a rewarding experience and provides valuable insight into our unique approach to autism education.
    </p>
    <p>
      If you are interested in volunteering, please download and complete the form below and return it to the school office.
    </p>
    <p>
      <a href="/documents/BFS-Volunteer-Application-Form.docx" class="btn-outline inline-block" download>Download Volunteer Application Form (.docx)</a>
    </p>

    <h2>Current Vacancies</h2>
    <p>
      Sorry, we are currently not recruiting for any roles other than volunteers. Please check back for future opportunities.
    </p>
  </div>
</PageLayout>
